
<% @posts.each_with_index do |post, index| %>
		<%= post_number(index + 1) %>
		<%= link_to post.title, post.url %>
		<span class="short_url">
			(<%= uri_short(post.url) %>)
		</span>
	<p class="subtext">
		Posted by <%= post.user[:name] %> <%= time_ago_in_words(post.updated_at) %> ago | <%=link_to "#{post.comments.size} #{comments(post)}", post %>
	</p>
<% end %>


<%= link_to_next_page @posts, 'More' %>